<footer class="bg-dark text-center text-white" style="margin-top: 300px;">
    <div class="container p-4">
        <section class="">
            <div class="row">

                <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#" class="text-white" style="text-decoration: none;">Terms and Conditions</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#" class="text-white" style="text-decoration: none;">Anti-Spam</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#" class="text-white" style="text-decoration: none;">Privacy</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#" class="text-white" style="text-decoration: none;">Help</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#" class="text-white" style="text-decoration: none;">Blog</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#" class="text-white" style="text-decoration: none;">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <a class="text-white" href="#" style="text-decoration: none;">© 2023 - nextSpark Pty Ltd.</a>
    </div>
</footer>